### Project ###
# Node
.node_modules/
.npmignore
yarn.lock
yarn-error.log

# Docker
docker-compose.yml

# Karma
test/
karma.conf.js

# Webpack
webpack.config.js
webpack.test.config.js

# Community
CODE_OF_CONDUCT.md
CONTRIBUTING.md

# Other
docs/
samples/
.babelrc
.eslintrc
.gitignore
